@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$main-bg-color: #f1f1f1;

html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    color: #141432;
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
}