@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$main-bg-color: #f1f1f1;

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#app {
    height: 100%;
}

.events {
    flex: 1;
}

.profile {
    width: 30%;
}

.main-container {
    height: 100%;
    width: 100vw;
    background-color: $main-bg-color;

    display: flex;
}

.container-header {
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;

    padding: 8% 0 0 15%;

    color: #424242;
}

.profile {
    background-color: white;
}